body {
    background-color: #efeeed;
    text-align: center;
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    font-size: 80%; /* This sets the default font size to be equivalent to 10px */
}

#wrapper {
    width: 900px;
    margin: 0 auto;
    /* center the page */
}

#content {
    background-color: #fff;
    border: 1px solid #000;
    float: left;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 70px;
    text-align: left;
    width: 100%;
}

#menu {
    float: left;
    border: 1px solid #000;
    border-bottom: none;
    clear: both;
    width: 100%;
    height: 20px;
    padding: 0 30px;
    background-color: #cfccc9;
    text-align: left;
    font-size: 85%;
}

#menu a:hover {
    background-color: #bfbbb7;
}

#userbar {
    background-color: #cfccc9;
    float: right;
    width: 250px;
}

#footer {
    clear: both;
}


/* Table styles */

table {

    border-collapse: collapse;
    width: 100%;
    background-color: #f3f3f2;
}

table a {
    color: #000;

}

table a:hover {
    color: #bfbbb7;
    text-decoration: none;
}

th {
    background-color: #cfccc9;
    color: #000;
}

td {
    padding: 5px;
}


/* Begin font styles */

h1,
#footer {
    color: #cfccc9;
    font-family: "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	font-weight: bold;
	font-size: 2em;
	text-decoration: none;
}

h3 {
    margin: 0;
    padding: 0;
}


/* Menu styles */

.item {
    background-color: #cfccc9;
    border: 1px solid #032472;
    color: #FFF;
    padding: 3px;
    text-decoration: none;
}

.leftpart {
    width: 70%;
}

.rightpart {
    width: 30%;
}

.small {
    font-size: 75%;
    color: #373737;
}

#footer {
    font-size: 65%;
    padding: 3px 0 0 0;
}

.topic-post {
    height: 100px;
    overflow: auto;
}

.post-content {
    padding: 30px;
}

textarea {
    width: 500px;
    height: 200px;
}